@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.fondo{
    background-color: rgb(238, 221, 255);
    
}
.container{
    text-align: center;
    margin: 10px;
    height: 150vw;
    width: 28%;
    background-color:#ffffff;
    display: inline-block;
    vertical-align: top;
    padding: 2%;
    border-radius: 25px;
    overflow: hidden;
}
.principal{
    background-color:rgb(238, 221, 255);
    display: flex;
    justify-content: center;
}
.separador{
    margin: 1%;
    height: 2px;
    background-color: #000000;
}
.foto{
    height:50%;
    width: 50%;
    border-radius: 50%;
    margin-top: 10px;
}
.cont-foto{
    margin-top: 10px;
    background-color:#ffffff;
    text-align: center;
}
.perfil{
    background-color: rgb(211, 245, 255);
    text-align:justify;
    padding: 10%;
    border-radius: 35px;
    overflow: hidden;

}
.name{
    text-align:center;
}
.redes{
    background-color: rgb(214, 203, 255);
    align-items: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    padding: 2%;
    width: 96%;
}
/* .red{
    display: inline-block;
} */
.f-redes{
    height:45px;
    width: 45px;
    
}
.f-git{
    height: 35px;
    width: 35px;
}
.proyecto{
    background-color: rgb(211, 245, 255);
    text-align:justify;
    padding: 10%;
    border-radius: 5%;  
}
.stacks{
    background-color: rgb(211, 245, 255);
    text-align:justify;
    padding: 10%;
    border-radius: 5%;  
}
.tel{
    height:18px;
    width: 18px;
}
.tit-estudios{
    background-color:rgb(214, 203, 255);
    font-size: 16px;
}
.text-estudio{
    font-family: Arial, sans-serif; /* Tipo de letra */
    color: #333; /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight:600; /* Grosor de la fuente */
    /* Otros estilos que desees aplicar */
    text-align:left;
}
.telefono{
    color: #000000;
    text-decoration: none;
}
.telefono:hover{
    color: rgb(189, 46, 255);
}

.phoone{
    text-align: center;
    margin-bottom: 10px;
}