@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.fondo{
    background-color: rgb(238, 221, 255);

    }

.container{
    text-align: center;
    margin: 10px;
    height: 55vw;
    width: 28%;
    background-color:#ffffff;
    display: inline-block;
    vertical-align: top;
    padding: 2%;
    border-radius: 25px;
    overflow: hidden;
    transition: all 0.25s;
}
.container:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 10px dimgray;

}
.principal{
    background-color:rgb(238, 221, 255);
    display: flex;
    justify-content: center;
}
.separador{
    margin: 1%;
    height: 2px;
    background-color: #000000;
}
.foto{
    height:60%;
    width: 60%;
    border-radius: 50%;
    margin-top: 10px;
}
.cont-foto{
    margin-top: 10px;
    background-color:#ffffff;
    text-align: center;
}
.perfil{
    background-color: rgb(255, 255, 255);
    text-align:justify;
    padding: 10px;
    border-radius: 35px;
    overflow: hidden;
    font-family:"Times New Roman", serif; 
    font-weight:400; 
}
.perfil:hover{
    background-color: rgb(214, 203, 255);
}

.t-perfil{
    color: #000000;
    text-align:center;
    font-size: 16px; 
    padding: 0;
    margin: 0;
    margin-bottom: 5px; 
}

.name{
    text-align:center;
}
.redes{
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    padding: 2%;
    width: 96%;
}
.redes:hover{
    background-color: rgb(214, 203, 255);
}
.f-git:hover{
    background-color: rgb(214, 203, 255);
}
.f-redes{
    height:58px;
    width: 58px;
}

.f-git{
    height: 49px;
    width: 49px;
}
.proyecto{
    background-color: rgb(214, 203, 255);
    text-align:justify;
    padding: 10px;
    border-radius: 5%; 
    font-family:"Times New Roman";  
    font-size: 16px; 
}
.stacks{
    background-color: rgb(255, 255, 255);
    text-align:left;
    padding: 10px;
    border-radius: 5%; 
    color: #000000;
    font-family:"Times New Roman"; 
    font-size: 17px; 
    margin-bottom: 5px; 
}
.estudios{
    margin-bottom: 5px; 
}
.tel{
    height:18px;
    width: 18px;
    text-align:left;
}
.tit-estudios{
    background-color:rgb(214, 203, 255);
    font-size: 18px;
    line-height: 18px;
}
.text-estudio{
    font-family:"Times New Roman"; 
    color: #333; 
    font-size: 17px; 
    text-align:left;
    padding: 0;
    margin: 0;
    margin-bottom: 5px; 
}
.telefono{
    color: #000000;
    text-decoration: none;
    font-family:"Times New Roman"; 
    font-size: 22px; 
    font-weight:400; 
}
.telefono:hover{
    color: rgb(189, 46, 255);
}

.phoone{
    text-align: center;
    margin-bottom: 10px;
}
.pags{
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    padding: 2%;
    width: 96%;
}
.pags:hover{
    background-color: rgb(214, 203, 255);
}
.f-pags{
    height:58px;
    width: 58px;
}
.f-java{
    height:60px;
}
.subtit{
    color: #000000;
    font-family:"Times New Roman"; 
    font-size: 15px;
    padding: 0;
    margin: 0;
    line-height: 1;
}